*,
*::after,
*::before {
	box-sizing: border-box;
	font-size: 18px;
	line-height: 130%;
}

a {
	text-decoration: none;
	transition: .4s;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: .4s;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-gutter: stable;

	&._fixed {
		overflow: hidden;
	}

}

.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	overflow: hidden;
}


/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;

}

time {
	display: block;
}

body {
	background: #E9ECDD;
}

.triangle {
	background: #515A3A;
	border-radius: 777px;
	position: relative;

	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #515A3A;
		mask-image: url('../../assets/img/btn-back.svg');
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-position: center center;
		z-index: -1;

	}

	&::after {
		top: -5px;
	}

	&::before {
		top: 5px;
	}
}