*,
*::after,
*::before {
	box-sizing: border-box;
	font-size: 18px;
	line-height: 130%;
}

a {
	text-decoration: none;
	transition: .4s;
}

ul {
	list-style: none;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	padding: 0;
	transition: .4s;
}



.page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	overflow: hidden;
}


/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;

}

time {
	display: block;
}

body {
	background: #E9ECDD;
}

.triangle {
	background: #515A3A;
	border-radius: 777px;
	position: relative;

	&::after,
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #515A3A;
		mask-image: url('../../assets/img/btn-back.svg');
		mask-size: 100% 100%;
		mask-repeat: no-repeat;
		mask-position: center center;
		z-index: -1;

	}

	&::after {
		top: -5px;
	}

	&::before {
		top: 5px;
	}
}

.label {
	position: relative;
}

.label-input {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -111;
	width: 0;
	overflow: hidden;
	opacity: 0;
}

.label-span {
	position: relative;
	padding-left: 45px;

	font-family: 'Ysabeau';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;

	color: #2F3128;

	filter: grayscale(1);
	opacity: .7;
	transition: .4s;
	cursor: pointer;

	&::after {
		content: "";
		width: 34px;
		height: 34px;
		left: 0;
		top: 0;
		position: absolute;
		background: url("../../assets/img/check.svg") no-repeat center center/contain;
	}

	@media(hover:hover) {
		&:hover {
			color: #2F3029;
			opacity: 1;
			filter: grayscale(1);
		}
	}

	@media(hover:none) {
		&:active {
			color: #2F3029;
			opacity: 1;
			filter: grayscale(1);
		}
	}
}

input:checked~.label-span {
	opacity: 1;
	filter: grayscale(0);

	@media(hover:hover) {
		&:hover {
			color: #2F3029;
			opacity: 1;
			filter: grayscale(1);
		}
	}

	@media(hover:none) {
		&:active {
			color: #2F3029;
			opacity: 1;
			filter: grayscale(1);
		}
	}
}

.back-line {
	width: 10vw;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;

	filter: grayscale(1);

	@media(max-width:992px) {
		display: none;
	}
}